# Fill in this file with the needed configuration values

[bot]
token = "abcdefghijklmnopqrstuvwxyz"
prefix = "!" # Can also be an array of prefixes, i.e ["!", "$"]

[ids]
owner_id = 1234567890       # Id of the bot owner. Currently unused.
server_id = 1234567890      # Id of the guild the bot is used in

admin_role_id = 1234567890     # Admins: have full access to all bot commands, cannot host (unless mod role is present)
mod_role_id = 1234567890       # Mods: have access to host-restricted commands when hosting, can host
host_role_id = 1234567890      # Hosts: role given to active hosts
alive_role_id = 124567890      # Alive players: role given to players that are currently alive
dead_role_id = 123456780       # Dead players: role given to players that are currently dead
spectator_role_id = 1234567890 # Spectators: can view all game channels (like hosts), but cannot talk

lobby_channel_id = 14567890 # Id of the main lobby channel. Individual player/team channels will be created in the same category as this
