# Fill in this file with the needed configuration values

[bot]
token = "abcdefghijklmnopqrstuvwxyz"
prefix = "!"

[ids]
owner_id = 1234567890
server_id = 1234567890

admin_role_id = 1234567890

lobby_channel_id = 14567890

[durations]
auto_unhost_timeout = 3600
